@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: black;
}
html, body {
  overflow-x: hidden;  /* Prevents horizontal scroll */
  overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
